---
import ContentSection from "~/components/content-section.astro";

const experiencia = [
  {
    title: "Full Stack Developer",
    description:
      "En la agencia, he construido sitios web y aplicaciones usando tecnologías como HTML5, CSS, Sass, JavaScript, React.js, PHP, SQL, MySQL, PhpMyAdmin, Vite, Astro, Nextjs, Git, etc.",
    agency: "El Puente Publicidad",
    time: "Junio 2022 - Marzo 2023",
  },
  {
    title: "Frontend Developer",
    description:
      "Me dedico al desarrollo y diseño de sitios web y aplicaciones usando tecnologías como JavaScript, PHP, SQL y herramientas tales como WordPress, Divi y Adobe Illustrator.",
    agency: "Creativoma",
    time: "Julio 2019 - Actualidad",
  },
  {
    title: "Frontend Developer",
    description:
      "Mi trabajo se enfoca en el desarrollo y diseño de sitios web y aplicaciones, utilizando tecnologías como JavaScript, PHP, SQL, etc. Empleo herramientas como WordPress, Divi, Elementor.",
    agency: "Cronopios Comunicación",
    time: "Julio 2019 - Actualidad",
  },
];
---

<ContentSection title="Experiencia" id="experiencia">
  <Fragment slot="lead">
    <span
      >Trabajar con equipos multidisciplinarios me enriquece profesionalmente y
      me brinda la oportunidad de expandir mi perspectiva y adquirir nuevas
      habilidades, lo cual me ayuda a crecer tanto personal como
      profesionalmente.</span
    >
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    {
      experiencia.map(({ title, description, agency, time }) => (
        <li class="flex flex-col items-center justify-center gap-2 border border-default bg-offset p-6">
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-l text-center font-bold text-blue-500">{agency}</p>
          <p class="text-center font-bold text-offset text-xs">{time}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
