---
import Starfield from "~/components/starfield.astro";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40"></div>
  <div class="relative grid h-full place-items-center sm:grid-cols-1">
      <div class="center sm:center flex flex-col gap-4 sm:gap-2 sm:self-auto">
        <p class="gradient-text px-5 text-center font-extrabold text-8xl sm:text-9xl">Mariano Álvarez</p>
        <p class="px-5 text-center text-[#ffffffa2] text-3xl sm:text-5xl font-bold">Frontend Developer</p>
      </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
